:root {

	--color-dark-background: #161616;
	--color-dark-foreground: #222222;
	--color-dark-foreground-opa: #2425254d;
	--color-dark-text-highlight: #ebeae9;
	--color-dark-text: #d6d5d5;

	--color-light-background: #ffffff;
	--color-light-foreground: #f1f1f1;
	--color-light-foreground-opa: #f1f1f14d;
	--color-light-text-highlight: #322746;
	--color-light-text: rgb(56, 56, 56);

	--color-gray-opa: #ffffff4d;

	--color-highlight-1: #4158D0;
	--color-highlight-2: #C850C0;
	--color-highlight-3: #FFCC70;

	--gradient: linear-gradient(
		43deg, 
		var(--color-highlight-1) 0%, 
		var(--color-highlight-2) 46%, 
		var(--color-highlight-3) 100%);

	--shadow-light-main: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
	0 6px 20px 0 rgba(0, 0, 0, 0.19);
	--shadow-light-hover: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 
	0 8px 30px 0 rgba(0, 0, 0, 0.19);
}


::-webkit-scrollbar {
	width: 17px;
	background-color: black;
}

::-webkit-scrollbar-track {
	margin: 0px;
}

::-webkit-scrollbar-thumb {
	background: var(--color-gray-opa);
}

/* Dark mode - Text */
.dark h1 {
	color: var(--color-dark-text-highlight);
}

.dark p,
.dark ul {
	color: var(--color-dark-text);
}

.dark hr {
	background-color: var(--color-dark-text);
}

/* Dark mode - Background */
.dark {
	background-color: var(--color-dark-background);
}

.dark .content h1 {
	color: var(--color-highlight-3);
}

.dark .codeSection {
	background-color: var(--color-dark-foreground);
}

/* Dark mode - Icon */
.dark .icon-simple {
	background-color: var(--color-dark-background);
	color: var(--color-highlight-3);
}

.dark .icon-simple:focus,
.dark .icon-simple:hover {
	background-color: var(--color-highlight-3);
	color: var(--color-dark-background);
}

.dark .tooltipText {
	background-color: var(--color-highlight-3);
	color: var(--color-dark-foreground);
}

/*
	Main Element CSS
*/

body {
	transition: background-color 0.3s linear;
	background-color: var(--color-light-background);
	font-family: verdana;
	padding-bottom: 100px;
	max-width: 1400px;
	margin: auto;
}

.main {
	max-width:1400px;
	display: block;
	margin-bottom:20px;
}

header {
	box-shadow: var(--shadow-light-main);
	background-color: var(--color-highlight-1);
	background-image: var(--gradient);
	background-size: 200%;
	animation: bg-animation 5s infinite alternate;
	padding-top:15%;
	padding-bottom:15%;
}

@keyframes bg-animation {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

img {
	user-select: none;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--color-light-text);
	margin-bottom: 20px;
}

/*
	Text
*/

h1 {
	color: var(--color-light-text);
	margin:0;
}

p,
ul {
	color: var(--color-light-text);
}

a {
	color: var(--color-highlight-2);
}

a:focus {
	color: var(--color-highlight-1);
}

ul {
	list-style-type: square;
	margin: 10, 0;
}

/*
	Icon Buttons
*/

.icon-simple {
	text-decoration: none;
	display: flex;
	justify-content: center;
    align-items: center;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	background-color: var(--color-light-foreground);
	color: var(--color-highlight-1);
	transition: background-color 0.5s linear;
	box-shadow: var(--shadow-light-main);
}

.icon-simple:hover,
.icon-simple:focus {
	background-color: var(--color-highlight-1);
	box-shadow: var(--shadow-light-hover);
	color: var(--color-light-foreground);
	cursor: pointer;
	opacity: 1;
}

.icon-list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.icon-list li {
	list-style: none;
	align-items: center;
	display: flex;
	margin: 0 0.7em;
}

/*
	Header
*/

header p,
header h1 {
	font-size: x-large;
	color: var(--color-light-text-highlight);
}

.center {
	text-align: center;
}

.content {
	padding: 20px 0;
	text-align: center;
}

.content h1 {
	font-size: 2em;
	color: var(--color-highlight-1);
}

/*
	Text Section
*/

.logo {
    float: left;
    width: 60px;
    padding-right: 10px;
}

.language {
	padding: 10px 0;
}

.language p {
	display: inline-block;
	padding-right: 10px;
	font-family: monospace;
}

.codeSection {
	transition: background-color 0.3s linear;
	box-shadow: var(--shadow-light-main);
	margin-top: 30px;
	margin-bottom: 30px;
	overflow: visible;
	background-color:var(--color-light-foreground);
	padding:20px;
}

.codeSection p {
	margin: 0;
	text-align: justify;
}

.codeSection h1 {
	margin-top: 10px;
	margin-bottom: 0px;
}

.codeSection p a {
	float: none;
	padding: 0;
	border-bottom: 1px dashed;
	opacity: 1;
	text-decoration: none;
}

/*
	Image Section
*/

.imageSection {
	text-align: center;
}

.imageSection div {
	width: 45%;
	height: 250px;
	margin: 15px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.imageSection div img {
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	max-width: 90%;
	max-height: 90%;
	cursor: pointer;
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 1;
	box-shadow: var(--shadow-light-main);
}

.imageSection div img:hover,
.imageSection div img:focus {
	box-shadow: var(--shadow-light-hover);
	opacity: 0.7;
}

/*
	Arrow up
*/

#topArrow {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

/*
	Modal - Image Popup
*/

#modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	background-color: var(--color-gray-opa);
}

#imgModal {
	margin: auto;
	display: block;
	max-height: 70%;
	max-width: 70%;
	box-shadow: var(--shadow-light-main);
}

#captionModal {
	background-color: var(--color-light-foreground-opa);
	margin: 20px auto;
	text-align: center;
	color: var(--color-light-text-highlight);
	padding: 10px 0;
}

#closeModal {
	position: absolute;
	top: 35px;
	right: 35px;
}

/* Animation */

#imgModal,
#captionModal {
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

/*
	Tooltips
*/

.tooltip {
	position: relative;
}

.tooltipText {
	opacity: 0;
	width: 100px;
	background-color: var(--color-highlight-1);
	color: var(--color-light-foreground);
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	transition: opacity 0.5s ease;
	box-shadow: var(--shadow-light-hover);

	/* Position the tooltip */
	position: absolute;
	z-index: 0;
	bottom: 108%;
	left: 50%;
	margin-left: -50px;
}

.tooltip:hover .tooltipText {
	opacity: 1;
}

/*
	Media Screen
*/
@media only screen and (max-width: 700px) {
	/*.main {background: red;}*/

	p {
		font-size: 0.9em;
	}
	h1 {
		font-size: 1em;
	}
	.codeSection .icon-list {
		float: none;
		padding-bottom: 20px;
	}
	.imageSection div {
		width: 85%;
	}
}

@media only screen and (min-width: 700px) {
	/*.main {background: green;}*/

	p {
		font-size: 1em;
	}
	h1 {
		font-size: 1.1em;
	}
	.codeSection .icon-list {
		float: right;
	}
}

@media only screen and (min-width: 850px) {
	/*.main {background: blue;}*/

	p {
		font-size: 1em;
	}
	h1 {
		font-size: 1.1em;
	}

	.main{
		margin-left: 20px; 
		margin-right: 20px; 
		margin-top: 20px;
	}
}